<div id="<%= dom_id obrashenie %>">
  <p>
    <strong>Po:</strong>
    <%= obrashenie.po_id %>
  </p>

  <p>
    <strong>Klient:</strong>
    <%= obrashenie.klient_id %>
  </p>

  <p>
    <strong>Tema obr:</strong>
    <%= obrashenie.tema_obr %>
  </p>

  <p>
    <strong>Data obr:</strong>
    <%= obrashenie.data_obr %>
  </p>

  <p>
    <strong>Status obr:</strong>
    <%= obrashenie.status_obr %>
  </p>

  <p>
    <strong>Specialist:</strong>
    <%= obrashenie.specialist_id %>
  </p>

  <p>
    <strong>Data vypoln obr:</strong>
    <%= obrashenie.data_vypoln_obr %>
  </p>

  <p>
    <strong>Dok vypoln obr path:</strong>
    <%= obrashenie.dok_vypoln_obr_path %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= obrashenie.status %>
  </p>

  <p>
    <strong>S delete:</strong>
    <%= obrashenie.s_delete %>
  </p>

</div>
