<div id="<%= dom_id specialist %>">
  <p>
    <strong>Fio spec:</strong>
    <%= specialist.fio_spec %>
  </p>

  <p>
    <strong>Telef spec:</strong>
    <%= specialist.telef_spec %>
  </p>

  <p>
    <strong>Pochta spec:</strong>
    <%= specialist.pochta_spec %>
  </p>

  <p>
    <strong>Dlzhnst spec:</strong>
    <%= specialist.dlzhnst_spec %>
  </p>

  <p>
    <strong>Status spec:</strong>
    <%= specialist.status_spec %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= specialist.status %>
  </p>

  <p>
    <strong>S delete:</strong>
    <%= specialist.s_delete %>
  </p>

</div>
