<div id="<%= dom_id po %>">
  <p>
    <strong>Name po:</strong>
    <%= po.name_po %>
  </p>

  <p>
    <strong>Vers po:</strong>
    <%= po.vers_po %>
  </p>

  <p>
    <strong>Data vypuska po:</strong>
    <%= po.data_vypuska_po %>
  </p>

  <p>
    <strong>Stoimost v god po:</strong>
    <%= po.stoimost_v_god_po %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= po.status %>
  </p>

  <p>
    <strong>S delete:</strong>
    <%= po.s_delete %>
  </p>

</div>
