<div id="<%= dom_id new_zakaz %>">
  <p>
    <strong>Po:</strong>
    <%= new_zakaz.po_id %>
  </p>

  <p>
    <strong>Klient:</strong>
    <%= new_zakaz.klient_id %>
  </p>

  <p>
    <strong>Data zak:</strong>
    <%= new_zakaz.data_zak %>
  </p>

  <p>
    <strong>Stat zak:</strong>
    <%= new_zakaz.stat_zak %>
  </p>

  <p>
    <strong>Specialist:</strong>
    <%= new_zakaz.specialist_id %>
  </p>

  <p>
    <strong>Data vypoln zak:</strong>
    <%= new_zakaz.data_vypoln_zak %>
  </p>

  <p>
    <strong>Stoimost v god:</strong>
    <%= new_zakaz.stoimost_v_god %>
  </p>

  <p>
    <strong>Srok arendy:</strong>
    <%= new_zakaz.srok_arendy %>
  </p>

  <p>
    <strong>Stoimost zak:</strong>
    <%= new_zakaz.stoimost_zak %>
  </p>

  <p>
    <strong>Dok vypoln zak path:</strong>
    <%= new_zakaz.dok_vypoln_zak_path %>
  </p>

  <p>
    <strong>Chek opl zak path:</strong>
    <%= new_zakaz.chek_opl_zak_path %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= new_zakaz.status %>
  </p>

  <p>
    <strong>S delete:</strong>
    <%= new_zakaz.s_delete %>
  </p>

</div>
