<div id="<%= dom_id klient %>">
  <p>
    <strong>Name komp:</strong>
    <%= klient.name_komp %>
  </p>

  <p>
    <strong>Kontakt lico:</strong>
    <%= klient.kontakt_lico %>
  </p>

  <p>
    <strong>Telef kl:</strong>
    <%= klient.telef_kl %>
  </p>

  <p>
    <strong>Pochta kl:</strong>
    <%= klient.pochta_kl %>
  </p>

  <p>
    <strong>Adres kl:</strong>
    <%= klient.adres_kl %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= klient.status %>
  </p>

  <p>
    <strong>S delete:</strong>
    <%= klient.s_delete %>
  </p>

</div>
